<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <!--        <li><a href="/static" th:href="@{/static}">Default</a></li>-->
            <li><a href="/home" th:href="@{/home}">Home</a></li>
            <li><a href="/home" th:href="@{/details}">Details</a></li>
            <!--        <li><a href="/page1" th:href="@{/page1}">Página 1</a></li>-->
            <!--        <li><a href="/page2" th:href="@{/page2}">Página 2</a></li>-->
        </ul>
    </nav>

    <p>Esto es un texto de prueba</p>

</body>
</html>