<!-- Archivo original: fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="myFragment">
        <!-- Enlaces a archivos CSS -->
<!--        <link rel="stylesheet" th:href="@{../static/css/}">-->
<!--        <link rel="stylesheet" th:href="@{/css/style2.css}">-->
<!--        <link rel="stylesheet" th:href="@{/css/style3.css}">-->

        <h1>Welcome to my page!</h1>

        <!-- Enlaces a archivos JS -->
        <script th:src="@{../static/js/dependencies/jquery-3.7.1.min.js}"></script>
<!--        <script th:src="@{/js/script2.js}"></script>-->
<!--        <script th:src="@{/js/script3.js}"></script>-->
    </div>
</html>