<!-- main_dependencies.html -->
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="myFragment">
        <!-- Enlaces a archivos CSS -->

        <!-- JQUERY -->
        <script th:src="@{/js/dependencies/jquery-3.7.1.min.js}"></script>
        <script th:src="@{/js/dependencies/jquery-ui-1.13.3/jquery-ui.min.js}"></script>
        <link rel="stylesheet" th:href="@{/js/dependencies/jquery-ui-1.13.3/jquery-ui.min.css}">
        <link rel="stylesheet" th:href="@{/js/dependencies/jquery-ui-1.13.3/jquery-ui.theme.min.css}">
        <link rel="stylesheet" th:href="@{/js/dependencies/jquery-ui-1.13.3/jquery-ui.structure.min.css}">

        <!-- Sweet Alert -->
<!--        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>-->

    </div>
</html>